// banner
//
// define project banner

// banner variable
$banner-height: 100% !default;

html, body {
    height: $banner-height;
    margin: 0%;
}

.banner{
    background: $light-primary;
}

.banner, .banner-image{
    height: $banner-height;
}

.banner-image{
    background-image: var(--banner-image-src);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    // mask-image: linear-gradient(rgba(237,237,237,0.8),rgba(237,237,237,0.8));
    mask-image: linear-gradient($light-mask, $light-mask);
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: cover;    
}

.banner-content{
    top: 25%;
    left: 15%;
    right: 15%;
    bottom: 25%;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    color: $light-font-light;

    h1 {
        font-size: 5em;
    }

    p {
        font-size: 1.5em;
        padding: 0em 6em;
    }

    i {
        margin: 0px 10px;
        font-size: 3em;
        cursor: pointer;
    }

    button {
        margin: 70px 0px 0px 0px;
        background-color: $transparency;
        border: 2px solid $light-font-light;
        width: 180px;
        height: 70px;
        text-align: center;
        display: inline-block;
        font-size: 22px;
        font-family: $font-family;
        color: $light-font-light;
        cursor: pointer;

        // TODO: add arrow below
        &:hover {
            color: white;
            background-color: rgba(222,200,170,0.2);
            border: 2px solid $light-tertiary;
            transition: 0.3s;
        }
    }
}
