// navigation
//
// define project navigation

.navbar {
  border-style: solid;
  border-color: $light-nav-border;
  border-width: 0.5px 0px;
  background-color: $light-nav;
  box-shadow: $box-shadow;

  .nav-link,
  .nav-item {
    font-family: $font-family;
    font-size: 20px;
    margin: 0px 20px;
    color: $light-nav-link;
    text-shadow: 1px 1px $light-nav-link-border,
      -1px -1px $light-nav-link-border;

    &:hover {
      background-color: white;
      border-radius: 6px;
    }

  }
}

.fixed-top {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1020;
}
