// variable
//
// defines all project use variable

// color
$transparency: rgba(0, 0, 0, 0);
$dark-color: rgba(0, 0, 0, 1);
$white-color: rgba(255, 255, 255, 1);

// font
$font-family: Roboto;

// banner
$banner-height: 100%;